// 清除浮动
.clearfix{
  overflow: auto;
  _height: 1%;
}
/* 轮播图样式 */
.swiperList{
  swiper{
    /* 原图750*340
    750/340 = 750/?
    */
    height:340rpx ;
  }
}
//分类列表
.catitems{
  display: flex;
  navigator{
    flex: 1;
    padding: 20rpx;
  }
}
// 楼层
.floordata{
  border: 10rpx solid #fff;
  .floorList{
   width: 33.33%; 
   float: left;
  }
}